<div class="image-container">
  <div class="centered-text">
    <h1>All Lists</h1>
  </div>
</div>

<div class="btn-container">
  <%= link_to "Create New List", new_list_path, class: "btn-new-list" %>
</div>

<div class="lists-container">
  <% @lists.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |list| %>
        <div class="card">
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, width: 400, height: 300, crop: :fill, class: 'card-img' %>
          <% else %>
            <%= image_tag 'https://source.unsplash.com/random/', width: 400, height: 300, crop: :fill, class: 'card-img' %>
          <% end %>
          <div class="card-text">
            <%= link_to list.name, list_path(list) %>
          </div>
          <%= link_to 'Edit Image', edit_list_path(list), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
